* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    -ms-box-sizing: border-box!important;
    box-sizing: border-box;
    }
    
body {
    background: #f1f1f1;
    }
    
.fa {
    color: #c0c0c0;
    }

.bar {
    background: #ffffff;
    width: 100%;
    height: 45px;
    padding: 14px 20px;
    }
    
.bar ul {
    position: absolute;
    }
    
.bar li {
    position: relative;
    display: inline;
    }
    
.fa-bars {
    position: relative;
    top: -45px;
    transform: scale(.8, .8);
    }

#logo {
    height: 60px;
    position: relative;
    top: -20px;
    }
    
#search {
    position: relative;
    top: -46px;
    }

#search input {
    width: 550px;
    height: 29px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #e7e7e7;
    padding: 4px;
    }

#search button {
    height: 29px;
    width: 65px;
    background-color: #f8f8f8;
    border-left: 0;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #f4f4f4;
    border-radius: 4px;
    }

#right {
    float: right;
    position: relative;
    top: -6px;
    margin-right: 0px;
    margin-left: 36em;
    }
    
.fa-upload {
    position: relative;
    top: 2px;
    }

#signin button {
    position: relative;
    width: 65px;
    height: 29px;
    background: #126db3;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    border: none;
    padding-bottom: 2px;
    margin-left: 30px;
    }
    
content {
    position: relative;
    left: 160px;
    top: 20px;
    }

.video {
    background: #fff;
    width: 854px;
    height: 480px;
    }

.sidebar {
    float: right;
    position: relative;
    width: 420px;
    height: 100%;
    left: -290px;
    background: #fff;
    font-weight: bold;
    padding: 20px;
    font-size: 1.2em;
    }

.sidebar li {
    display: inline-block;
    }

.autoplay {
    position: relative;
    right: -150px;
    color: #c0c0c0;
    word-spacing: .08em;
    }
    
.item {
    margin-top: 1em;
    line-height: .8em;
    }
    
.thumb {
    float: left;
    margin-right: 0.4em;
    width: 170px;
    height: 95px;
    }

.item h3 {
    font-size: 0.8em;
    }
    
.item p {
    font-size: 0.4em;
    }
    
.item h3 a {
    color: #3d3d3d;
    text-decoration: none;
    }
    
.item a {
    color: #868686;
    text-decoration: none;
    }
    
.item1 {
    padding-bottom: 1em;
    border-bottom: 1px solid #868686;
    }
    
.more {
    margin-top: .5em;
    border-top: 1px solid #868686;
    text-align: center;
    }
    
.more a {
    text-decoration: none;
    color: #868686;
    font-size: 0.8em;
    width: 80%;
    margin: 0 auto;
    }